// main: style.scss

// calculates individual column width based off of # of columns
$total-columns: 12;

// Breakpoints
$small: 800px; // max phone size
// medium is everthing between this automatically
$large: 800px; // huge desktop

// Breakpoint margins
$sm-column-margin: 2%;
$md-column-margin: 2%;
$lg-column-margin: 2%;

// Functions
@mixin grid-column-width($n, $margin) {
    width: (100 / $total-columns) * $n - ($margin * ($total-columns - $n) / $total-columns);
}

@mixin grid-offset-length($n, $margin) {
    margin-left: (100 / $total-columns) * $n - ( $margin * ($total-columns - $n) / $total-columns) + $margin;
}

// container and column settings
.container, .row {
    position: relative;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    // overflow: hidden;
    // overflow: visible;
    // display: table;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
}

[class*='sm-col-'],
[class*='md-col-'],
[class*='lg-col-'] {
    float: left;
    box-sizing: border-box;
    // display: table-cell;
}

// Breakpoint small
@media only screen and (max-width: $small) {

    [class*='sm-col-'] { margin-left: $sm-column-margin; }
    [class*='sm-col-']:first-child { margin-left: 0; }

    @for $i from 1 through ($total-columns - 1) {
      .sm-col-#{$i} { @include grid-column-width($i, $sm-column-margin); }
      .sm-col-offset#{$i} { @include grid-offset-length($i, $sm-column-margin); }
    }

    .sm-col-12 { width: 100%;  margin-left: 0; }
}

// Breakpoint medium
@media only screen and (min-width: $small) and (max-width: $large) {

    [class*='md-col-'] { margin-left: $md-column-margin; }
    [class*='md-col-']:first-child { margin-left: 0; }

    @for $i from 1 through ($total-columns - 1) {
      .md-col-#{$i} { @include grid-column-width($i, $md-column-margin); }
      .md-col-offset#{$i} { @include grid-offset-length($i, $md-column-margin); }
    }

    .md-col-12 { width: 100%;  margin-left: 0; }
}

// Breakpoint large
@media only screen and (min-width: $large) {

    [class*='lg-col-'] { margin-left: $lg-column-margin; }
    [class*='lg-col-']:first-child { margin-left: 0; }

    @for $i from 1 through ($total-columns - 1) {
      .lg-col-#{$i} { @include grid-column-width($i, $lg-column-margin); }
      .lg-col-offset#{$i} { @include grid-offset-length($i, $lg-column-margin); }
    }

    .lg-col-12 { width: 100%;  margin-left: 0; }
}

// Breakpoint large no margin cols
@media only screen and (min-width: $large) {

    [class*='lg-colnm-'] { margin-left: 0%; }
    [class*='lg-colnm-']:first-child { margin-left: 0%; }

    @for $i from 1 through ($total-columns - 1) {
      .lg-colnm-#{$i} { @include grid-column-width($i, 0%); }
      .lg-colnm-offset#{$i} { @include grid-offset-length($i, 0%); }
    }

    .lg-colnm-12 { width: 100%;  margin-left: 0%; }
}
